@import url('https://fonts.googleapis.com/css?family=Lobster');
.profilContainer
{
    width: 33%;
    height: 100vh;
    background-color: rgba(74, 190, 157, 0.5);
    z-index: 2;
    position: fixed;
    right: 0;
    top:0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}
.profilPicture
{
    border-radius: 1000px;
    border: 3px double white;
    width: 50%;
    height: auto;
    margin-top: 20%;
    opacity: 3;

}
.marginTopDix
{
    margin-top: 10%;
}