.button
{
    width: 10%;
    height: 5%;
    background-color: #4abe9d;
    text-align: center;
    padding: 1%;
    border-radius: 4px;
    border: 1px solid #4abe9d;
    color: white;
}
a.noUnderLine:link
{
    text-decoration:none;
}